h1 {
  color : #5A5A5A;
  text-align : center;
  font-family : 'sans-serif', monospace;
  font-size : 22;
}

h2 {
  color : #5A5A5A;
  text-align : left;
  font-family : 'sans-serif', monospace;
  font-size : 19;
}

h3 {
  color : #5A5A5A;
  text-align : left;
  font-family : 'sans-serif', monospace;
  font-size : 16;
}

strong {
  text-align : left;
  font-family : Arial, Helvetica, sans-serif;
}

p {
  text-align : left;
  font-family : Arial, Helvetica, sans-serif;
}

body {
    background-color : #C1E1C1;
}

img {
  border : 1px solid #ddd;
  border-radius : 8px;
  padding : 5px;
  width : 500px;
  display : block;
  margin-left : auto;
  margin-right : auto;
}
